# Nearest Neighbors Classifier

### Hands-on example

In this hands-on example we will explore a multiclass classification problem.  
We will use a wine dataset to classify **3 classes** of wines using some real valued features.  
  
Outline:
- Demonstrate working of a simple k-NN classifier in Scikit-learn
- Load wine dataset
- Perform k-NN using Scikit-learn on the wine dataset
- Vary similarity measures and weights
to see performance

In [ ]:
# Import the classifier
from sklearn.neighbors import KNeighborsClassifier

API Reference : https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

In [ ]:
# Sample dataset - 4 samples, two classes (0 and 1)
# Use 2-D data
X = [[0], [1], [2], [3]] # 4x1-dimensional
y = [0, 0, 1, 1]

What we have above are one dimensional points. Logically, a decision boundary should exist at x = 1.5. We will verify if it holds

In [ ]:
# Initialize classifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
# Make a prediction
print (neigh.predict([[1.1]]))

[0]

In [ ]:
print (neigh.predict([[1.6]]))

[1]

In [ ]:
# Get probability
print (neigh.predict_proba([[2]]))

[[0.33333333 0.66666667]]

Now let's train a k-NN on Wine dataset!

### Data Description
1. Multiclass classification problem with 3 labels: $\{1,2,3\}$ representing 3 different cultivators
2. 13 continuous attributes describing the properties of wine like _'Alcohol'_, _'Malic Acid'_ etc.
3. UCI Machine Learning Repository

In [ ]:
!gdown --id 1WA0I2LdXT_v0GqyYQ6b92ad7cHm_fmUT

Downloading...
From: https://drive.google.com/uc?id=1WA0I2LdXT_v0GqyYQ6b92ad7cHm_fmUT
To: /content/wine_original.csv
100% 11.6k/11.6k [00:00<00:00, 17.5MB/s]

In [ ]:
from matplotlib.colors import ListedColormap         # Visualization
import numpy as np                                   # Numerical operations
import matplotlib.pyplot as plt                      # Plotting
from sklearn.model_selection import train_test_split # Data splitting
import pandas as pd                                  # Data management

data = pd.read_csv('wine_original.csv')
labels = data['class']
del data['class']
X = data
y = labels

In [ ]:
data.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
data.describe()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [ ]:
labels

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: class, Length: 178, dtype: int64

In [ ]:
# Split into testing and training data 20/80
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

**Distance functions**  
k-NN performance depends on the distance function used.  

p: int, default=2
Power parameter for the Minkowski metric. 
$$
D(X, Y)=\left(\sum_{i=1}^{n}\left|x_{i}-y_{i}\right|^{p}\right)^{\frac{1}{p}}
$$
When p = 1, this is equivalent to using manhattan_distance (l1), and euclidean_distance (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used.

Ref: https://en.wikipedia.org/wiki/Minkowski_distance

In [ ]:
k = 3

clf = KNeighborsClassifier(k) # p = 2 gives Euclidean distance by default
clf.fit(X_train, y_train)

predictions = clf.predict(X_test)
print ('accuracy = ' + str(np.sum(predictions == y_test)/(len(y_test))))

accuracy = 0.6944444444444444

By default 'Minkowski' distance with $p = 2$ is used -> $l_2$  distance  
Let us modify the distance measure to Manhattan distance ( $p = 1$ ) -> $l_1$ distance

In [ ]:
# Parameter 'p' is the Power parameter for the Minkowski metric.
# p = 1 --> Manhattan distance
# p = 2 --> Euclidean distance

clf = KNeighborsClassifier(k, p=1) # p = 1 corresponds to Manhattan distance
clf.fit(X_train,y_train)
predictions = clf.predict(X_test)
accuracy = np.sum(predictions == y_test)/(len(y_test))
print ("Accuracy = " + str(accuracy) + " at k = 3")

Accuracy = 0.7777777777777778 at k = 3

**Weights**:
* uniform: all points in each neighborhood are weighted equally.
* distance: weight points by the inverse of their distance. Closer point will have a greater influence.

In [ ]:
for weights in ['uniform', 'distance']:
    clf = KNeighborsClassifier(k, p=1, weights=weights)
    clf.fit(X_train,y_train)
    predictions = clf.predict(X_test)
    accuracy = np.sum(predictions == y_test)/(len(y_test))
    print ("Accuracy = " + str(accuracy) + " at k = 3, using " + weights)

Accuracy = 0.7777777777777778 at k = 3, using uniform
Accuracy = 0.7777777777777778 at k = 3, using distance